<div class="ArticlesContainer">
        
    <mat-card-header class="header-container">
        <button mat-raised-button color="primary" class="left-button" routerLink="/creation-article">Créer un article</button>
        <a class="right-link" (click)="sortArticles('date', $event)">
            Trier par date
            <mat-icon *ngIf="sortDirection === 'asc'" aria-hidden="false" aria-label="Icone de flèche vers le haut">arrow_upward</mat-icon>
            <mat-icon *ngIf="sortDirection === 'desc'" aria-hidden="false" aria-label="Icone de flèche vers le bas">arrow_downward</mat-icon>
        </a>
    </mat-card-header>
    
    <div class="grid-container">   
        <div class="Themes-content" fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-sm="column">
            <mat-card *ngFor="let article of articles" fxFlex="47" class="lightGray-MarginTop card-positioning">
                <mat-card-header>
                    <mat-card-title>{{ article.title }}</mat-card-title>    
                </mat-card-header>
                <mat-card-content class="content-positioning">
                    <div class="info-container">
                        <h3 class="date-article">Date: {{ article.createdAt | date:'dd/MM/yyyy' }}</h3>
                        <h3 class="author-article">Auteur: {{ article.postUsername }}</h3>
                    </div>
                    <p class="ellipsis content-article">{{article.content}}</p>
                </mat-card-content>
                <mat-card-actions class="actions-positioning">
                    <div class="button-container">
                        <button mat-raised-button color="primary" [routerLink]="['/article', article.id]">Lire l'article</button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div> 
</div>