<div class="container">
    <div class="block1">
      <mat-card class="profile-card">
        <mat-card-header>
          <mat-card-title>Profil utilisateur</mat-card-title>
        </mat-card-header>
        <form [formGroup]="profileForm" (ngSubmit)="save()" class="vertical-form">
          <mat-card-content>
            <div class="form-fields">
              <mat-form-field appearance="outline">
                <mat-label>Nom d'utilisateur</mat-label>
                <input matInput formControlName="username">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
              </mat-form-field>
            </div>
          </mat-card-content>
          <div class="button-container">
            <button mat-raised-button color="primary" type="submit">Sauvegarder</button>
          </div>
        </form>
        
      </mat-card>
    </div>
    
    <hr>
    
    <!-- Le reste de votre code reste inchangé -->
    <div class="block2">
      <!-- ... -->
    </div>
  </div>
    <hr>
    <div class="block2">
        
        <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>Abonnements</mat-card-title>
        </mat-card-header>
        
        <div class="grid-container">   
            <div class="Themes-content" fxLayout="row wrap" fxLayoutGap="20px" fxLayout.lt-sm="column">
                <mat-card *ngFor="let subscription of subscribedTopics" fxFlex="47" class="lightGray-MarginTop card-positioning">
                    <mat-card-header>
                        <mat-card-title>{{ subscription.topicName }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="content-positioning">
                        <p class="ellipsis">{{ subscription.topicDescription }}</p>
                    </mat-card-content>
                    <mat-card-actions class="actions-positioning">
                        <div class="button-container">
                            <button mat-raised-button color="primary" type="submit" (click)="unsubscribeFromTopic(subscription.topicId)">Se désabonner</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div> 
    </div>
