<div class="app-not-logged"  *ngIf="!(isHomePage$ | async) && !($isLogged() | async) else Logged">
    <mat-toolbar color="white">
        <img src="/assets/logo_p6.png" alt="Logo de MDD APP"  height="81" width="140" class="responsive-logo">
        <span class="spacer"></span>
    </mat-toolbar>
    <mat-icon (click)="goBack()">arrow_back</mat-icon>
</div>
<div class="app-logged" (click)="closeVerticalMenu()">
    <ng-template #Logged>
       <mat-toolbar color="white" *ngIf="!(isHomePage$ | async) && ($isLogged() | async)">
            <img src="/assets/logo_p6.png" alt="Logo de MDD APP" height="81" width="140">
            <span class="spacer"></span>
            <div class="HorizontalNav">
                <a mat-button routerLink="/articles">Articles</a>
                <a mat-button routerLink="/themes">Thèmes</a>
                <a routerLink="/me">
                    <mat-icon [class.mat-icon-me]="isMePage">account_circle</mat-icon>
                </a>
            </div>
            <div class="VerticalNav"  (click)="$event.stopPropagation()">
                <mat-icon (click)="toggleVerticalMenu(); $event.stopPropagation()">menu</mat-icon>
                <div class="verticalMenu" *ngIf="verticalMenuOpen">
                    <a mat-button routerLink="/articles" (click)="closeVerticalMenu()">Articles</a>
                    <a mat-button routerLink="/themes" (click)="closeVerticalMenu()">Thèmes</a>
                    <a routerLink="/me" (click)="closeVerticalMenu()">
                        <mat-icon [class.mat-icon-me]="isMePage">account_circle</mat-icon>
                    </a>
                </div>
            </div>
        </mat-toolbar>
    </ng-template>
    <router-outlet></router-outlet>
</div>

