.button-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Ajoute un espacement entre les boutons sur PC */
}

/* Styles spécifiques pour les écrans de moins de 768px (mobiles) */
@media screen and (max-width: 768px) {
  .app {
      justify-content: flex-start; /* Alignement en haut */
      height: auto;
      padding-top: 20px;
  }

  .button-container {
      flex-direction: column; /* Affichage en colonne sur mobile */
      align-items: center;
      gap: 10px; /* Espacement adapté pour mobile */
  }

  .button-container button:first-child {
      margin-right: 0; /* Supprime le margin-right inutile */
  }
}
